header {
  height: 500px;
  width: 100%;
  border: 1px solid black;
  background-image: url(http://sergiocardoso.neocities.org/placeholder-header-4.jpg);
}

.container {
  height:100vh;
  width: 980px;
  margin: 0 auto;
}
.sidebar section {
  width: 180px;
  height:100vh;
  border: 1px solid red;
  float: left;
}

.content section {
  height: 800px;
  width: 75%;
  border: 1px solid blue;
  float: right;
}

footer {
  border: 1px solid green;
  height: 300px;
  width: 100%;

}
