header {
  height: 499px;
  width: 100%;
  background-image: url(http://sergiocardoso.neocities.org/placeholder-header-4.jpg);
}
main {
  margin: 50px 0;
}
.container {
  width: 980px;
  margin: 0 auto;
}
.content {
  width: 688px;
  float: left;
  border: 1px solid red;
  margin-right: 50px;
}
.sidebar {
  width: 240px;
  float: right;
}
.sidebar .advertisement {
  text-align: right;
  margin: 25 0;
}

footer {
  height: 490px;
  width: 100%;
  background-color: green;
}
.clearfix {
  overflow: auto;
  zoom: 1;
}
